.list-effect:hover {
  background-color: #f2f3d9;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.underline {
  text-decoration: underline; /* 保留文字下划线 */
  text-underline-offset: 0.2em; /* 调整下划线与文本之间的距离 */
}
.vertical-line {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
}
.product-price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  right: 0rem;
  font-size: 1rem;
}
